{% render 'partials/head.liquid', title: cityDetails[0].city, cityListNav: cityListNav %}

{% if status == 'success' %}
  <div class="status-success-or-error">
    <p>Quick Scan toegevoegd!</p>
  </div>
{% endif %}

<h1 style="view-transition-name: city-{{ cityDetails[0].city }}">{{ cityDetails[0].city }}</h1>

{% for city in cityDetails %}
  <section class="city-overview-details">
    {% if city.picture == null %}
      <img src="../assets/image-placeholder.png" alt="" width="300" height="300">
    {% else %}
      <img src="https://fdnd-agency.directus.app/assets/{{ city.picture }}?width=800&format=webp&quality=20" alt="" loading="lazy">
    {% endif %}
    <h2>{{ city.address }}</h2>
    
    
    <details>
      <summary>laat meer zien </summary>
        <a href="https://www.google.com/maps/place/{{ city.address }},{{ city.city }}" target="_blank">Google maps</a>
      <dl>

        <dt>Tijd</dt>
        <dd><time datetime="{{ city.time | slice: 0, 5 }}">{{ city.time | slice: 0, 5 }}</time></dd>

        <dt>Lengte</dt>
        <dd>{{ city.length | divided_by: 100 | round: 1 }}m</dd>

        <dt>Geschiktheid monitoring</dt>
        <dd>{{ city.monitoring_suitability }}</dd>

        <dt>Geschiktheid Smart zone</dt>
        <dd>{{ city.smartzone_suitability }}</dd>

        <dt>Status</dt>
        <dd>{{ city.status }}</dd>

        <dt>Bord</dt>
        {% if city.traffic_sign != blank %}
          <dd>{{ city.traffic_sign }}</dd>
          {% else %}
          <dd>Geen verkeersbord bekend</dd>
        {% endif %}
        
        <dt>Observaties</dt>
        {% if city.comment  != blank %}
          <dd>{{ city.comment }}</dd>
          {% else %}
          <dd>Geen bijzonderheden</dd>
        {% endif %}
      </dl>
    </details>
  </section>
{% endfor %}

{% render 'partials/foot.liquid' %}
